//
// Navbar
// --------------------------------------------------

// Basic navbar
.app-navbar {
    #gradient > .vertical(@start-color: lighten(@navbar-default-bg, 10%); @end-color: @navbar-default-bg;);
    border-radius: 0;
    @shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
    .box-shadow(@shadow);
    .navbar-brand,
    .navbar-nav > li > a {
        text-shadow: 0 1px 0 rgba(255,255,255,.25);
    }
    .navbar-nav > .active > a {
      background-color: @navbar-default-bg;
    }
}


// Inverted navbar
.navbar-inverse {
  #gradient > .vertical(@start-color: lighten(@navbar-inverse-bg, 10%); @end-color: @navbar-inverse-bg;);

  .navbar-nav > .active > a {
    background-color: @navbar-inverse-bg;
  }

  .navbar-brand,
  .navbar-nav > li > a {
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  }
}

// Undo rounded corners in static and fixed navbars
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}
