<div class="panel panel-default" id="infobox-blog-archive">
    <div class="panel-heading">
        <button type="button" class="btn btn-link btn-xs pull-right" data-toggle="collapse" data-target="#blog-archive">
            <i class="icon-expand"></i> einblenden
        </button>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#blogBoxTwo">
          Archiv
        </a>
    </div>
    <div class="panel-collapse collapse" id="blog-archive">
        <div class="panel-body panel-body-archive">
        <h5>2013</h5>
        <ul class="nav nav-pills nav-stacked">
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2013&amp;month=5">
                    <span class="badge pull-right">1</span>
                    <span class="archive-month">Mai</span>
                    <span class="archive-count">
                        (1)
                    </span>
                </a>
            </li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2013&amp;month=4">
                    <span class="archive-month">April</span>
                    <span class="archive-count">
                        (7)
                    </span>
                </a>
            </li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2013&amp;month=3">
                    <span class="archive-month">März</span>
                    <span class="archive-count">
                        (5)
                    </span>
                </a>
            </li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2013&amp;month=2">
                    <span class="archive-month">Februar</span>
                    <span class="archive-count">
                        (2)
                    </span>
                </a>
            </li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2013&amp;month=1">
                    <span class="archive-month">Januar</span>
                    <span class="archive-count">
                        (3)
                    </span>
                </a>
            </li>
        </ul>
        <h5>2012</h5>
        <ul class="nav nav-pills nav-stacked">
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2012&amp;month=12">
                    <span class="archive-month">Dezember</span>
                    <span class="archive-count">
                        (8)
                    </span>
                </a>
            </li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2012&amp;month=11">
                    <span class="archive-month">November</span>
                    <span class="archive-count">
                        (6)
                    </span>
                </a>
            </li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2012&amp;month=10">
                    <span class="archive-month">Oktober</span>
                    <span class="archive-count">
                        (5)
                    </span>
                </a>
            </li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2012&amp;month=4">
                    <span class="archive-month">April</span>
                    <span class="archive-count">
                        (1)
                    </span>
                </a>
            </li>
        </ul>
        </div>
    </div>
</div>