<div class="panel panel-default" id="infobox-blog-archive">
    <div class="panel-heading">
         <i class="icon-calendar"></i>
          Archiv
    </div>
    <div class="panel-body">
        <h5>2013</h5>
        <ul class="nav nav-list">
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2013&amp;month=5">
                    <span class="badge pull-right">1</span>
                    <span class="archive-month">Mai</span>
                    <span class="archive-count">
                        (1)
                    </span>
                </a>
            </li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2013&amp;month=4">
                    <span class="archive-month">April</span>
                    <span class="archive-count">
                        (7)
                    </span>
                </a>
            </li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2013&amp;month=3">
                    <span class="archive-month">März</span>
                    <span class="archive-count">
                        (5)
                    </span>
                </a>
            </li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2013&amp;month=2">
                    <span class="archive-month">Februar</span>
                    <span class="archive-count">
                        (2)
                    </span>
                </a>
            </li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2013&amp;month=1">
                    <span class="archive-month">Januar</span>
                    <span class="archive-count">
                        (3)
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <!--<div class="list-group">
      <a href="#" class="list-group-item">
        <span class="badge">1</span>
        <span>Mai</span>
      </a>
       <a class="list-group-item" href="http://localhost:8499/ifd/blog-view?year=2013&amp;month=4">
        <span class="badge">7</span>
           <span class="archive-month">April</span>
       </a>
    </div>
    <div class="panel-body">
        <h5>2012</h5>
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item">
        <span class="badge">1</span>
        <span>Januar</span>
      </a>
    </div>-->

      <ul class="nav nav-list"><li class="nav-header">2013</li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2013&amp;month=5">
                    <span class="badge pull-right">1</span>
                    <span class="archive-month">Mai</span>
                    <span class="archive-count">
                        (1)
                    </span>
                </a>
            </li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2013&amp;month=4">
                    <span class="archive-month">April</span>
                    <span class="archive-count">
                        (7)
                    </span>
                </a>
            </li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2013&amp;month=3">
                    <span class="archive-month">März</span>
                    <span class="archive-count">
                        (5)
                    </span>
                </a>
            </li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2013&amp;month=2">
                    <span class="archive-month">Februar</span>
                    <span class="archive-count">
                        (2)
                    </span>
                </a>
            </li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2013&amp;month=1">
                    <span class="archive-month">Januar</span>
                    <span class="archive-count">
                        (3)
                    </span>
                </a>
            </li>
       
        
          <li class="nav-header">2012</li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2012&amp;month=12">
                    <span class="archive-month">Dezember</span>
                    <span class="archive-count">
                        (8)
                    </span>
                </a>
            </li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2012&amp;month=11">
                    <span class="archive-month">November</span>
                    <span class="archive-count">
                        (6)
                    </span>
                </a>
            </li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2012&amp;month=10">
                    <span class="archive-month">Oktober</span>
                    <span class="archive-count">
                        (5)
                    </span>
                </a>
            </li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2012&amp;month=4">
                    <span class="archive-month">April</span>
                    <span class="archive-count">
                        (1)
                    </span>
                </a>
            </li>
       
        
          <li class="nav-header">2011</li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2011&amp;month=12">
                    <span class="archive-month">Dezember</span>
                    <span class="archive-count">
                        (2)
                    </span>
                </a>
            </li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2011&amp;month=11">
                    <span class="archive-month">November</span>
                    <span class="archive-count">
                        (3)
                    </span>
                </a>
            </li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2011&amp;month=10">
                    <span class="archive-month">Oktober</span>
                    <span class="archive-count">
                        (3)
                    </span>
                </a>
            </li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2011&amp;month=9">
                    <span class="archive-month">September</span>
                    <span class="archive-count">
                        (4)
                    </span>
                </a>
            </li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2011&amp;month=7">
                    <span class="archive-month">Juli</span>
                    <span class="archive-count">
                        (3)
                    </span>
                </a>
            </li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2011&amp;month=6">
                    <span class="archive-month">Juni</span>
                    <span class="archive-count">
                        (4)
                    </span>
                </a>
            </li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=2011&amp;month=5">
                    <span class="archive-month">Mai</span>
                    <span class="archive-count">
                        (6)
                    </span>
                </a>
            </li>
       
        
          <li class="nav-header">1969</li>
          <li>
                <a href="http://localhost:8499/ifd/blog-view?year=1969&amp;month=12">
                    <span class="archive-month">Dezember</span>
                    <span class="archive-count">
                        (3)
                    </span>
                </a>
            </li>
       
      </ul></div>