<div class="panel panel-default blog-panel-categories" id="infobox-blog-categories" >
    <div class="panel-heading">
         <span class="badge pull-right">66</span>
        <a href="/">Themen</a>
    </div>
    <div class="list-group panel-collapse collapse in"
        aria-labelledby="blogCategories" role="menu">
        <a class="list-group-item" role="menuitem" href="http://localhost:8499/ifd/blog-view?category=Abschluss">
            <span class="badge">1</span>
              <span>Abschluss</span>
        </a>
        <a class="list-group-item" role="menuitem" href="http://localhost:8499/ifd/blog-view?category=Arbeiten%20mit%20Behinderung">
            <span class="badge">15</span>
              <span>Arbeiten mit Behinderung</span>
        </a>
        <a class="list-group-item" role="menuitem" href="http://localhost:8499/ifd/blog-view?category=Aus%20der%20Region">
            <span class="badge">10</span>
              <span>Aus der Region</span>
        </a>
        <a class="list-group-item" role="menuitem" href="http://localhost:8499/ifd/blog-view?category=Ausland">
            <span class="badge">1</span>
              <span>Ausland</span>
        </a>
        <a class="list-group-item" role="menuitem" href="http://localhost:8499/ifd/blog-view?category=Barrierefreiheit">
            <span class="badge">2</span>
              <span>Barrierefreiheit</span>
        </a>
    
    </div>
</div>