<nav class="navbar navbar-default app-navbar" id="app-navbar" role="navigation">
  <div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#app-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Integrationsfachdienst Schwaben</a>
  </div>
  <div class="collapse navbar-collapse app-navbar-collapse" id="app-navbar-collapse">
    <ul class="nav navbar-nav navbar-right" id="app-navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Impressum</a></li>
      <li><a href="#">Was ist der IFD?</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div>
</nav>
